@use "../../styles/variables"

.categorias
    align-items: center
    width: 100%
    

.categorias-container
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    width: 100%
    padding-right: 5%
    padding-left: 5%
    padding-top: 100px

.categoria_item
    list-style: none
    position: relative
    width: 30%
    margin-left: 1.5%
    margin-right: 1.5%

.categoria_nome
    display: block
    padding-bottom: 30px

.categoria_img
    width: 100%