@use "../../styles/variables"

.carrinho
    padding-top: 50px
    padding-bottom: 100px

.carrinho_produtos
    display: block
    width: 50%

.botao_finalizar
    background-color: variables.$cor_secundaria
    color:#ffffff
    border:none

.botao_finalizar:hover
    background-color: variables.$cor_principal
    border:none

.total
    padding-top: 20px
    padding-bottom: 20px

.total_valor
    display: block
    font-weight: 700
    font-size: 22px
    color: variables.$cor_secundaria